/**header css**/

#header{
	position:relative;
	z-index:200;}
#headerin{
	position:relative;
	z-index:100;
	width:1200px;
	margin:0 auto;}
.gnb{
	position:absolute; top:37px;
	height:40px;
	overflow:hidden;
	right:-79px;}
.gnb .d1{
	position:relative;
	float:left; padding-right:80px;}
.gnb .d1 .m{
	display:block; 
	font-size:20px; color:#222;}
.gnb .d1 .sub{
	position:absolute; top:40px; left:0; padding-top:20px;}
.gnb .d1 .sub li{
	margin-bottom:10px;
	text-align:right;
	}
.gnb .d1 .sub li a{
	font-size:15px;
	color:#444;
	}
    
.gnb .d1:hover .m{
    color: red}

.gnb .d1 .sub li:hover a{
    color: red;
	}
	
.gnbBg{
	position:absolute; 
	top:89px; 
	left:0;
	width:100%; height:270px;
	display:none;
	background-color:rgba(255, 255, 255, 0.6)
	}
.logo{    
	width: 413px;
    padding-top: 16px;
}
.logo img{
	width:100%;
}
.lnb{
	border-bottom:1px solid #ddd;
}
.lnb_in{
	width:1200px;
	margin:0 auto;
	text-align:right;
	line-height: 27px;
}
.lnb_in a{
	color:#666;
}

/**footer css**/
.footer {
	width:1200px;
	margin:0 auto;
	padding:30px 0;
	font-size:13px;
	color:#fff;
	overflow:hidden;
}
.footer p {
    font-size: 17px;
    padding-bottom: 4px;
}
.privacy_policy a {
    display: block;
    padding: 3px 16px;
    width: 126px;
    background: #636060;
    color: white;
    margin-bottom: 8px;
}
